In [57]:
import pandas as pd
import numpy as np
from sklearn.decomposition import NMF
from sklearn.preprocessing import MaxAbsScaler,Normalizer

In [9]:
artists=pd.read_csv('./artists.csv',names=['artist'])

In [10]:
artists.head()

           artist
0  Massive Attack
1         Sublime
2    Beastie Boys
3      Neil Young
4   Dead Kennedys

In [34]:
music=pd.read_csv('../msit_ml_classwork/MSIT_ML_CLASS/datasets/Musical artists/scrobbler-small-sample.csv')

In [35]:
music.head()

   user_offset  artist_offset  playcount
0            1             79         58
1            1             84         80
2            1             86        317
3            1             89         64
4            1             96        159

In [36]:
mus_mat=music.pivot_table(values='playcount',index='artist_offset',columns='user_offset')

In [58]:
mus_mat.head()

user_offset,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
artist,,,,,,,,,,,,,,,,,,,,,
Massive Attack,0.0,0.0,105.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Sublime,128.0,211.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,270.0,0.0,105.0,97.0,0.0,0.0,0.0
Beastie Boys,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Neil Young,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dead Kennedys,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
mus_mat.set_index(artists['artist'],inplace=True)

In [39]:
mus_mat.fillna(0,inplace=True)

In [63]:
scale=MaxAbsScaler()

In [64]:
mus_scl=scale.fit_transform(mus_mat)
mus_scl

array([[0.        , 0.        , 0.43209877, ..., 0.        , 0.        ,
        0.        ],
       [0.34501348, 0.66561514, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.11578947,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [65]:
normalizer=Normalizer()

In [66]:
mus_dat=normalizer.fit_transform(mus_scl)
mus_dat

array([[0.        , 0.        , 0.12510259, ..., 0.        , 0.        ,
        0.        ],
       [0.09170403, 0.17691944, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.02608197,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [67]:
nmfer=NMF(n_components=7)
nmfer.fit(mus_dat)
nmf_feat=nmfer.transform(mus_dat)
nmf_feat.shape

(111, 7)

In [89]:
nmfdf=pd.DataFrame(nmf_feat,index=artists['artist'])

In [91]:
artist=nmfdf.loc['Eminem']

In [92]:
similarities=nmfdf.dot(artist)

In [93]:
print(similarities.nlargest())

artist
50 Cent           0.256298
Ludacris          0.229811
Snoop Dogg        0.217555
Eminem            0.172903
Britney Spears    0.169373
dtype: float64

In [94]:
similarities.nsmallest()

artist
Dredg                 0.000869
Ani DiFranco          0.001649
The Blood Brothers    0.001779
Rilo Kiley            0.001853
Dead Kennedys         0.001888
dtype: float64

In [97]:
artist=nmfdf.loc['Dr. Dre']
nmfdf.dot(artist).nlargest()

artist
50 Cent           0.140629
Ludacris          0.126095
Snoop Dogg        0.119290
Britney Spears    0.091929
Eminem            0.091902
dtype: float64

In [98]:
artist=nmfdf.loc['Rancid']   #Punk rock/pop
nmfdf.dot(artist).nlargest()

artist
Rancid                           0.272626
NOFX                             0.240706
Less Than Jake                   0.226619
Dropkick Murphys                 0.225587
Me First and the Gimme Gimmes    0.196958
dtype: float64